@use "bases.scss" as *;
@use "components.scss" as *;

.container {
  min-height: 100vh;
  background-color: $color-almost-white;

  .display {
    transform: translateX(0) !important;
  }

  .display-nav {
    opacity: 1 !important;
    visibility: visible !important;
  }

  .nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    transition: all 0.2s;
    &-logo-mobile {
      display: none;
    }
    &-logo-desktop {
      margin-right: 5rem;
      margin-top: 0.75rem;
      @include flexCenter;
    }

    &-item {
      margin: 0 2rem;
      cursor: pointer;
    }

    &-link {
      @include linkStyles;
      transition: color 0.2s;
      color: $color-medium-gray;
      &:hover {
        color: $color-almost-black;
      }
    }

    &-left {
      margin-left: 3rem;
      display: flex;
      align-items: center;
      .feature {
        position: relative;
      }
      .feature-dropdown {
        transform: translateX(-50%);
        transition: all 0.2s;
      }
      .company {
        position: relative;
      }

      .company-dropdown {
        transform: translateX(10%);
        transition: all 0.2s;
      }
    }

    &-list {
      display: flex;
    }

    &-dropdown {
      position: absolute;
      top: 3.5rem;
      opacity: 0;
      visibility: hidden;
      background-color: $color-almost-white;
      box-shadow: 0 0 4rem rgba(0 0 0 / 0.09);
      padding: 1rem 2.5rem;
      border-radius: 10px;
      transition: all 0.3s;
      animation-delay: 0.5s;
      min-width: max-content;
      font-size: clamp(1.4rem, 1.5vw, 1.5rem);
      & > * {
        display: flex;
        margin: 1.5rem 0;
        img {
          margin-right: 1.5rem;
        }
      }

      &-link {
        color: $color-medium-gray;
      }
    }

    &-right {
      @include flexCenter;
      margin-right: 3rem;
      & > * {
        margin: 0 2rem;
        @include linkStyles;
      }
    }

    &-register {
      box-shadow: 0 0 0 0.2rem $color-medium-gray;
      padding: 1rem 2rem;
      border-radius: 1rem;
      @include linkStyles;
    }
  }

  .hamburger {
    // background-color: yellow;
    display: none;
    width: 3.5rem;
    height: 2rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    z-index: 1000;
    flex-direction: column;
    justify-content: space-between;
    // overflow: hidden;
    cursor: pointer;
    .line {
      width: 100%;
      height: 0.3rem;
      background-color: $color-almost-black;
      pointer-events: none;
      border-radius: 10rem;
      transition: opacity 0.2s, visibility 0.2s, transform 0.2s;
    }
  }

  .main {
    margin-top: 2rem;
    @include flexCenter;
    justify-content: center;
    padding: 5rem 10rem;
    transition: all 0.2s;

    &-heading {
      font-size: clamp(3rem, 5vw, 8rem);
      display: flex;
      flex-direction: column;
    }

    &-text {
      font-size: 1.8rem;
      max-width: 75%;
      color: $color-medium-gray;
      line-height: 1.6;
    }

    &-left {
      margin-top: clamp(2.5rem, 7vh, 8rem);
      @include flexCenter(column);
      align-items: flex-start;
      padding: 0rem 5rem;
      & > * {
        margin: 2.5rem 0;
      }
    }

    &-learn-more {
      padding: 1.75rem 3.5rem;
      background-color: $color-almost-black;
      box-shadow: 0 0 0 0.1rem transparent;
      color: inherit;
      @include flexCenter;
      font-size: clamp(1.6rem, 1.2vw, 1.8rem);
      color: $color-almost-white;
      transition: box-shadow 0.2s, background-color 0.2s;
      font-weight: 500;
      border-radius: 1rem;
      &:hover {
        background-color: transparent;
        box-shadow: 0 0 0 0.1rem $color-almost-black;
        color: $color-almost-black;
      }
    }

    &-companies {
      display: flex;
      align-items: center;
      max-width: 80%;
      justify-content: space-between;
      margin-top: 5rem;
      div:not(:first-child) {
        margin: 0 2rem;
      }
      img {
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
      }
    }

    &-right {
      img {
        max-width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: contain;
        transition: all 0.2s;
      }

      &-mobile {
        display: none;
      }
    }
  }

  @media (min-width: 1440px) {
    .main {
      max-width: 90%;
      margin: auto;
      &-right {
        img {
          max-width: 80%;
          aspect-ratio: 1 / 1;
          object-fit: contain;
          transition: all 0.2s;
        }

        &-mobile {
          display: none;
        }
      }
    }
  }

  @media (max-width: 1150px) {
    .nav {
      &-left {
        margin-left: 2rem;
      }
      &-right {
        margin-right: 2rem;
      }
    }
    .main {
      padding: 0;
      flex-direction: column;
      &-left {
        margin-top: 0;
        order: 2;
        align-items: center;
        padding: 0rem 2rem;
      }

      &-heading {
        margin-top: clamp(4rem, 7vh, 5rem);
        flex-direction: row;
        span {
          margin-left: 1rem;
        }
      }

      &-text {
        max-width: fit-content;
        text-align: center;
      }

      &-right {
        margin-top: 7rem;
        &-desktop {
          display: none;
          transition: all 0.2s;
        }
        &-mobile {
          display: block;
          transition: all 0.2s;
        }
      }
      &-companies {
        max-width: 100%;
        margin-top: 0;
      }
    }
  }

  @media (max-width: 850px) {
    .hamburger {
      display: flex;
    }
    .nav {
      position: fixed;
      right: 0;
      top: 0;
      min-width: 40vw;
      min-height: 100vh;
      flex-direction: column;
      justify-content: space-around;
      background-color: $color-almost-white;
      z-index: 100;
      transform: translateX(300%);
      transition: transform 0.2s;

      &-logo-desktop {
        display: none;
      }
      &-logo-mobile {
        display: block;
        position: absolute;
        top: 2.5rem;
        left: 1.5rem;
        margin-bottom: 5rem;
      }

      &-left {
        margin: 0;
        padding: 0;

        .feature {
          box-shadow: 0 0 0 transparent;
          min-height: 22vh;
        }

        .company {
          box-shadow: 0 0 0 transparent;
          min-height: 17vh;
        }

        .feature-dropdown {
          transform: translateX(0);
        }

        .company-dropdown {
          transform: translateX(0);
        }
      }

      &-list {
        flex-direction: column;
      }

      &-item {
        font-size: 1.6rem;
        margin: 1.5rem 3rem;
        & > * {
          font-size: 1.6rem;
        }
      }

      &-right {
        padding: 0;
        margin: 0;
        flex-direction: column;
        margin-top: 2rem;
        margin-inline: 3rem;
        & > * {
          margin: 1rem;
        }
      }
      &-register {
        min-width: 100%;
        text-align: center;
        a {
          width: 100%;
          height: 100%;
        }
      }
    }

    @media (max-width: 500px) {
      .nav {
        min-width: 65vw;
        transition: all 0.2s;
        box-shadow: 0 0 0 20rem rgba(0 0 0 / 0.6);

        &-left {
          margin-left: 0;
        }
      }
    }
  }
}
